<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <header>
    <h1>Weather App</h1>
  </header>

  <main class = "main-container">
    <section class="search-section">
      <input type="text" id="city" placeholder="Enter city">
      <input type="text" id="country" placeholder="Enter country">
      <button id="getWeather">Get Weather</button>
    </section>

    <section id="weatherDetails" class="hidden">
      <div id="weatherIcon"></div>
      <h2 id="location"></h2>
      <p id="temperature"></p>
      <p id="weather"></p>
    </section>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
